/* color vars */
:root{
  --primary-color: rgba(204, 150, 69, 0.8);
  --secondary-color: rgb(69, 66, 66);
  --title-color: #EBEBEB;
  --background: #f0f0f0;
}

a {
  font-size: larger;
  text-decoration: none;
  padding: 3px 5px;
}

.navbar > a {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around; 
  align-items: flex-end;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 4px 0 9px 0;
  background-color: black;
}

.janaeWelsh {
  font-size: x-large;
  font-weight: 500;
}

.body {
  margin: 0 8%;
}

.text-body {
  font-size: 15pt;
}


/* PORTFOLIO */
.portfolios {
  display: flex;
  justify-content: space-around;
}

.portfolio-borders{
  border: 10px solid var(--secondary-color);
  background-color: var(--title-color);
  margin: 10px 0 10px 15px;
  height: 300px;
}

.portfolio-tools, .portfolio-tools-big{
  color: var(--title-color);
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 8px;
  max-width: 23ch;
}

.h4, .h4-big{
  font-size: x-large;
}

.portfolio-tools-big, .h4-big{
  position: relative;
  z-index: 2;
  bottom: 100px;
  padding-left: 20px;
}

.portfolio-big{
  flex-basis: 100%;
  flex-direction: column;
  background-size: 150%;
  height: 400px;
}

.portfolio-tools, .h4{
  position: relative;
  bottom: 100px;
  padding-left: 10px;
}

.portfolio-rest{
  display: flex;
  flex-wrap: wrap;
}

.portfolio-rest > *{
  flex: 1 1 45%;
}

.portfolio-small{
  padding: auto 37px auto 37px;
}

.img-fit, .img-fit-me{
  width: 100%;
  height: 100%;
  position: relative;
  right: 5px;
  object-fit: cover;
  opacity: 35%;
}

.portfolio-borders-me{
  margin: 10px auto;
  border: 10px solid var(--secondary-color);
  background-color: var(--primary-color);
  width: 70%;
  height: 50vh;
}

.project-info {
  position: relative;
  bottom: 30px;
}

.project-info > * {
  margin: 10px 0;
}

/* Styling filter overlay */
.img-fit:hover{
  opacity: 100%;
}

/* CONTACT PAGE */
.contact {
  margin: 8%;
}

.quick-list > * {
  position: relative;
  right: 41px;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.flex-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quick-info {
  margin: 0 100px 0 0;
}

.a-contact{
  color: black
}

.p-contact {
  font-size: larger;
  margin: 0 0 0 3px;
}

.headshot {
  width: 200px;
}

.align {
  display: flex;
  align-items: flex-start;
}

label {
  margin: 0 8px 0 0;
  font-size: 15pt;
}

input, textarea {
  margin: 0 0 10px 0;
  padding: 8px;
  border: black 1px solid;
  border-radius: 4px;
}

textarea {
  margin: 8px 0;
  width: 100%;
  height: 20vh;
}

form {
  margin: 30px 0;
  width: 50%;
  min-width: 300px;
}

button {
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  background-color: black;
}

/* footer */
footer {
  margin: 130px 0 30px 0;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
